  body {
    font-family: helvetica, arial, sans-serif;
  }
  
  h1 {
    font-style: bold;
    color: #000000;
  }
  
  video {
    clear: both;
    display: block;
    margin: 10px;
    background: #000000;
    width: 640px;
    height: 480px;
  }
  
  button {
    padding: 10px;
    float: left;
    margin: 5px 3px 5px 10px;
  }
  
  .removed {
    display: none;
  }

  .add  {
    cursor: pointer;
  }
  
  #status {
    font-size:150%;
  }
  
